<app-admin-dashboard></app-admin-dashboard>
<main class="main-wrap">
    <div class="container pt-4">
        <div class="mb-4">
            <a routerLink="">Admin</a> > <a href="#">Dashboard</a>
        </div>
        <div>
            <h3>Dashboard</h3>
        </div>
        <div class="wrapper">
            <div class="dash-box d-box-colour1"><a routerLink="/Admin-New-Employee">New Employee</a></div>
            <div class="dash-box d-box-colour2"><a routerLink="/Admin-Employee">Employee <span>(12)</span></a></div>
        </div>
        <div class="wrapper">
            <div class="dash-box d-box-colour3"><a routerLink="/Admin-Department">Department <span>(6)</span></a></div>
            <div class="dash-box d-box-colour4"><a routerLink="/Admin-Attendance">Attendance <span>(18)</span></a></div>
        </div>
        <app-admin-footer></app-admin-footer>
    </div>
</main>