<app-admin-dashboard></app-admin-dashboard>
<main class="main-wrap">
  <div class="container pt-4">
    <div class="mb-4">
      <a routerLink="">Admin</a> > <a href="#">Employee</a>
    </div>
    <div>
      <h3>Employee</h3>
    </div>
    <div class="container text-center">
      <!-- <h4 class="mb-3 text-center">Employee Details</h4> -->
      <div class="of-auto">
        <table class="table table-success table-striped ">
          <thead>
            <tr>
              <th scope="col">SN</th>
              <th scope="col">Employee ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Date Of Joining</th>
              <th scope="col">Address</th>
              <th scope="col">Profile</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>001</td>
              <td>John Wick</td>
              <td>john@gmail.com</td>
              <td>9856324526</td>
              <td>13/05/200</td>
              <td>658H/563 New York City, United States</td>
              <td><img src="../../../assets/Img/login-cover.png" alt="Profile" width="100px" height="140px"></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>001</td>
              <td>John Wick</td>
              <td>john@gmail.com</td>
              <td>9856324526</td>
              <td>13/05/200</td>
              <td>658H/563 New York City, United States</td>
              <td><img src="../../../assets/Img/login-cover.png" alt="Profile" width="100px" height="140px"></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>001</td>
              <td>John Wick</td>
              <td>john@gmail.com</td>
              <td>9856324526</td>
              <td>13/05/200</td>
              <td>658H/563 New York City, United States</td>
              <td><img src="../../../assets/Img/login-cover.png" alt="Profile" width="100px" height="140px"></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>001</td>
              <td>John Wick</td>
              <td>john@gmail.com</td>
              <td>9856324526</td>
              <td>13/05/200</td>
              <td>658H/563 New York City, United States</td>
              <td><img src="../../../assets/Img/login-cover.png" alt="Profile" width="100px" height="140px"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <app-admin-footer></app-admin-footer>
  </div>
</main>